@import url("https://fonts.googleapis.com/css?family=Raleway");


:root{
    --primary-color: #71b3dd;
    --primary-dark-color: #4489b5;
    --text-color-gray: #8b979f;
    --text-color-light-gray: #c1c7cb;
    --text-color-dark-gray: #5a6f7c;
}

*{
    margin: 0;
    padding: 0;
    font-size:14px;
    box-sizing: border-box;
    font-family: "Raleway", "Microsoft Yahei", sans-serif;
}


.wrapper{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-card{
    display: grid;
    /* 1fr 1/12 */
    grid-template-columns: repeat(12, 1fr); 
    /* 列之间的空隙 */
    column-gap: 12px;
    width: 627px;
    height: 374px;
    /* 阴影 */
    box-shadow: 0px 0px 22px 3px rgba(0, 0, 0, 0.18);
}


.profile-image{
    /* 从8到13 */
    grid-column: 8 / 13;
    max-width: 238px;
    height: 100%;
    overflow: hidden;
    align-self: start;
    justify-self: end;
}

.profile-image img{
    width: 100%;
    /* transform: translate(-205px, -280px); */
    /* object-fit: cover; */
}

.content{
    grid-column: 1 / 8;
    padding: 38px 28px 20px 33px;
    position: relative;
}

nav{
    margin-bottom: 24px;
    display: flex;
    position: relative;
}

nav a{
    color: var(--text-color-gray);
    text-decoration: none;
}

nav a.active{
    color: var(--primary-color);
}

nav a:not(:last-child) {
    margin-right: 40px;
}

nav .indicator {
    height: 2px;
    /* width: 75px; */
    background: var(--primary-dark-color);
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.4s linear ;
}

.content section{
    opacity: 0;
    position: absolute;
    transition: 0.3s ease-out;
}

.content section.active-section{
    opacity: 1;
}

.personal-info{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.title h1{
    font-size: 2em;
    font-weight: 500;
}

.title p{
    color: var(--text-color-gray);
    margin: 6px 0 18px 0;
}

.follow-btn {
    justify-self: end;
    height: 30px;
    background-color: var(--primary-color);
    border: none;
    padding: 0 27px;
    color: white;
    border-radius:4px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;

}

.follow-btn .fas{
    font-size: 10px;
    margin-right: 6px;
}

.about-me{
    color: var(--text-color-dark-gray);
    text-align: justify;
}

footer{
    margin-top: 70px;
}

footer ul{
    display: flex;

}

footer ul li {
    list-style: none;
    
}

footer ul li:not(:last-child) {
    margin-right: 30px;
}

footer .fab{
    color: var(--primary-color);
    font-size: 24px;
}

.work-exps{
    color: var(--text-color-gray);
    display: grid;
    /* minmax 最低80px 最高自动 */
    grid-template-rows: repeat(3, minmax(80px, auto));
}

.work-exp-item{
    display: grid;
    grid-template-columns: 5fr 1fr 7fr;
    align-items: center;
    justify-content: center;
}

.position {
    font-size: 18px;
    font-weight: 500;
}

.separator{
    height: 43px;
    border-left: 2px dotted #eaeff2;
}

.time{
    color: var(--text-color-light-gray)
}

.company{
    color: var(--text-color-dark-gray);
    margin-top: 9px;
}